<h2 mat-dialog-title>{{ data.type }} Engineer</h2>
<mat-dialog-content class="mat-typography">
    <form style="text-align: center;" [formGroup]="engineerForm">
                
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="engineerForm.get('name').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="engineerForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="engineerForm.get('email').hasError('pattern')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Password</mat-label>
                        <input (input)="passwordChange()" *ngIf="!showPassword" type="password" matInput formControlName="password" required>
                        <input (input)="passwordChange()" *ngIf="showPassword" matInput formControlName="password" required>
                        <mat-icon *ngIf="!showPassword" (click)="changePasswordVisibility(true)" style="cursor: pointer;" matSuffix class="secondary-text">visibility_off</mat-icon>
                        <mat-icon *ngIf="showPassword" (click)="changePasswordVisibility(false)" style="cursor: pointer;" matSuffix class="secondary-text">visibility</mat-icon>
                        <mat-error *ngIf="engineerForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="engineerForm.get('password').hasError('minlength')">
                            Password must be at least 6 characters
                          </mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Confirm Password</mat-label>
                        <input (input)="passwordChange()" *ngIf="!showConfirmPassword" type="password" matInput formControlName="confirm_password" required>
                        <input (input)="passwordChange()" *ngIf="showConfirmPassword" matInput formControlName="confirm_password" required>
                        <mat-icon *ngIf="!showConfirmPassword" (click)="changeConfirmPasswordVisibility(true)" style="cursor: pointer;" matSuffix class="secondary-text">visibility_off</mat-icon>
                        <mat-icon *ngIf="showConfirmPassword" (click)="changeConfirmPasswordVisibility(false)" style="cursor: pointer;" matSuffix class="secondary-text">visibility</mat-icon>
                    </mat-form-field>
                    <label style="color: red; font-size: 12px; margin-left: 12px; float: left; margin-top: -20px;" *ngIf="!passwordMatch && !engineerForm.get('password').hasError('required')">
                        Password didn't match.
                    </label>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 85%;" appearance="">
                        <mat-label>Areas</mat-label>
                        <mat-select formControlName="area_id" required multiple>
                            <mat-option *ngIf="areas == ''" disabled>No Records Found</mat-option>
                            <mat-option *ngFor="let a of areas" [value]="a.id">
                                {{a.name}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-icon matSuffix class="secondary-text">list</mat-icon> -->
                        <mat-error *ngIf="engineerForm.get('area_id').hasError('required')">
                            Area is required
                        </mat-error>
                    </mat-form-field>
                    <mat-icon (click)="openAreaAddDialog('Add', 0, '')" style="margin-left: 3px; cursor: pointer;">add</mat-icon>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 85%;" appearance="">
                        <mat-label>Problems</mat-label>
                        <mat-select formControlName="problem_id" required multiple>
                            <mat-option *ngIf="problems == ''" disabled>No Records Found</mat-option>
                            <mat-option *ngFor="let p of problems" [value]="p.id">
                                {{p.problem_name}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-icon matSuffix class="secondary-text">list</mat-icon> -->
                        <mat-error *ngIf="engineerForm.get('problem_id').hasError('required')">
                            Problem is required
                        </mat-error>
                    </mat-form-field>
                    <mat-icon (click)="openProblemAddDialog('Add', 0, '', '')" style="margin-left: 3px; cursor: pointer;">add</mat-icon>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Address 1</mat-label>
                        <input matInput formControlName="address_1" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="engineerForm.get('address_1').hasError('required')">
                            Address 1 is required
                        </mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Address 2</mat-label>
                        <input matInput formControlName="address_2">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="engineerForm.get('city').hasError('required')">
                            City is required
                        </mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Pincode</mat-label>
                        <input matInput formControlName="pincode" required>
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="engineerForm.get('pincode').hasError('required')">
                            Pincode is required
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border: none;">
            <tr>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="engineerForm.get('state').hasError('required')">
                            State is required
                        </mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 50%; text-align: center; border: none;">
                    <mat-form-field style="width: 95%;" appearance="">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" required>
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="engineerForm.get('country').hasError('required')">
                            Country is required
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="0">Cancel</button>
  <button (click)="addEngineer()" [disabled]="engineerForm.invalid" mat-flat-button color="accent">{{ data.type }}</button>
</mat-dialog-actions>
<div class="overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
