<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_cart
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Product
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0" style="background-color: #fff;">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon style="color: rgba(0, 0, 0, 0.54);">search</mat-icon>

                    <input #filter placeholder="Search..." name="search" [ngModel]="search" (keyup.enter)="onSearch($event.target.value)">
                    <button [disabled]="(search == null || search == '') && orderBy == 'id' && order == 'asc'" (click)="resetFilters()" color="accent" mat-button>Reset</button>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div style="display: flex; align-items: center;">
                <button mat-raised-button (click)="openAddDialog('Add', 0, 0, '', '')" class="add-product-button fuse-white mt-24 mt-md-0">
                    ADD
                    <mat-icon style="margin-left: 3px;">add</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="overflow-y: scroll;" infiniteScroll [infiniteScrollDistance]="2" infiniteScrollThrottle="100" [scrollWindow]="false" [infiniteScrollDisabled]="infiniteScrollDisabled" (scrolled)="onScroll()">
            
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <span (click)="onColumnSort('product_categories.product_category')" style="cursor: pointer; vertical-align: top;">Product Category</span>&nbsp;&nbsp;&nbsp;
                            <mat-icon (click)="onColumnSort('product_categories.product_category')" *ngIf="orderBy == 'product_categories.product_category' && order == 'asc'" style="cursor: pointer;">arrow_upward</mat-icon>
                            <mat-icon (click)="onColumnSort('product_categories.product_category')" *ngIf="orderBy == 'product_categories.product_category' && order == 'desc'" style="cursor: pointer;">arrow_downward</mat-icon>
                        </th>
                        <th>
                            <span (click)="onColumnSort('products.name')" style="cursor: pointer; vertical-align: top;">Product Name</span>&nbsp;&nbsp;&nbsp;
                            <mat-icon (click)="onColumnSort('products.name')" *ngIf="orderBy == 'products.name' && order == 'asc'" style="cursor: pointer;">arrow_upward</mat-icon>
                            <mat-icon (click)="onColumnSort('products.name')" *ngIf="orderBy == 'products.name' && order == 'desc'" style="cursor: pointer;">arrow_downward</mat-icon>
                        </th>
                        <th>
                            <span (click)="onColumnSort('products.description')" style="cursor: pointer; vertical-align: top;">Description</span>&nbsp;&nbsp;&nbsp;
                            <mat-icon (click)="onColumnSort('products.description')" *ngIf="orderBy == 'products.description' && order == 'asc'" style="cursor: pointer;">arrow_upward</mat-icon>
                            <mat-icon (click)="onColumnSort('products.description')" *ngIf="orderBy == 'products.description' && order == 'desc'" style="cursor: pointer;">arrow_downward</mat-icon>
                        </th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="dataLoading && products == ''">
                        <td colspan="6" style="text-align: center; padding: 15px 0px;"><app-loading style="justify-content: center; display: flex;" [text]="'Loading'"></app-loading></td>
                    </tr>
                    <tr *ngIf="failed">
                        <td colspan="6" style="text-align: center; padding: 15px 0px;">Failed to load<a mat-icon-button (click)="refresh()" mat-button><mat-icon color="accent">refresh</mat-icon></a></td>
                    </tr>
                    <tr *ngIf="products == '' && !dataLoading && !failed">
                        <td colspan="6" style="text-align: center; padding: 15px 0px;">No records found</td>
                    </tr>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ product.product_category }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td><button (click)="openAddDialog('Edit', product.id, product.category_id, product.name, product.description)" mat-icon-button style="cursor: pointer;" color="accent"><mat-icon>edit</mat-icon></button></td>
                        <td><button (click)="deleteProduct(product.id, i)" mat-icon-button style="cursor: pointer;" color="warn"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                    <tr *ngIf="infiniteScrollLoading">
                        <td colspan="8" style="text-align: center; padding: 15px 0px;">
                            <app-loading style="justify-content: center; display: flex;" [text]="'Loading More Items'"></app-loading>
                        </td>
                    </tr>
                    <tr *ngIf="products != '' && offset < totalRows && !infiniteScrollLoading && !loading && !failed">
                        <td colspan="8" style="text-align: center; padding: 15px 0px;">
                            Scroll to load more data
                        </td>
                    </tr>
                    <tr *ngIf="products != '' && offset >= totalRows && !loading && !failed">
                        <td colspan="8" style="text-align: center; padding: 15px 0px;">
                            No more records to show
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
