<h2 mat-dialog-title>{{ data.type }} Problem</h2>
<mat-dialog-content class="mat-typography">
    <form style="text-align: center;" [formGroup]="problemForm">
                
        <mat-form-field style="width: 90%;" appearance="">
            <mat-label>Problem Name</mat-label>
            <input matInput formControlName="problem_name" required>
            <mat-icon matSuffix class="secondary-text">title</mat-icon>
            <mat-error *ngIf="problemForm.get('problem_name').hasError('required')">
                Problem Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 90%;" appearance="">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required>
            <mat-icon matSuffix class="secondary-text">description</mat-icon>
            <mat-error *ngIf="problemForm.get('description').hasError('required')">
                Description is required
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="0">Cancel</button>
  <button (click)="addProblem()" [disabled]="problemForm.invalid" mat-flat-button color="accent">{{ data.type }}</button>
</mat-dialog-actions>
<div class="overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
