<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    category
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Complaint
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <div style="display: flex; align-items: center;">
                <button mat-raised-button (click)="openTicketAddDialog('Add', 0, '', '')">
                    ADD
                    <mat-icon style="margin-left: 3px;">add</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Problem</th>
                        <th>Details</th>
                        <th>Assign Engineer</th>
                        <th>Status</th>
                        <th></th>
                        <!-- <th>Edit</th>
                        <th>Delete</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loading">
                        <td colspan="5" style="text-align: center; padding: 15px 0px;">Loading...</td>
                    </tr>
                    <tr *ngIf="failed">
                        <td colspan="5" style="text-align: center; padding: 15px 0px;">Failed to load</td>
                    </tr>
                    <tr *ngIf="tickets == '' && !loading && !failed">
                        <td colspan="5" style="text-align: center; padding: 15px 0px;">No records found</td>
                    </tr>
                    <tr *ngFor="let t of tickets; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ t.product_category }} {{ t.name }}</td>
                        <td>{{ t.problem_name }}</td>
                        <td>{{ t.details }}</td>
                        <td>
                            <mat-form-field *ngIf="!t.engineer_id" style="width: 85%;" appearance="">
                                <mat-label>Engineer</mat-label>
                                <mat-select (selectionChange)="onAssignEngineerChange(i)" formControlName="engineer_id">
                                    <mat-option *ngIf="!engineers" disabled>Failed to Load</mat-option>
                                    <mat-option *ngFor="let e of engineers" [value]="e.id">
                                        {{e.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <p *ngIf="t.engineer_id">{{ t.engineer_name }}</p>
                        </td>
                        <td>
                            <p *ngIf="t.status == 0 || !t.status" style="color: red">Not Assigned</p>
                            <p *ngIf="t.status == 1" style="color: gold">Assigned</p>
                            <p *ngIf="t.status == 2" style="color: red">Reassign Request</p>
                            <p *ngIf="t.status == 3" style="color: green">Completed</p>
                        </td>
                        <td><button (click)="ticketComplete(i)" [disabled]="t.status != 1" mat-flat-button style="cursor: pointer;" color="accent"><label>Completed</label></button></td>
                        <!-- <td><button (click)="openProductCategoryAddDialog('Edit', category.id, category.product_category, category.description)" mat-icon-button style="cursor: pointer;" color="accent"><mat-icon>edit</mat-icon></button></td>
                        <td><button (click)="deleteProductCategory(category.id, i)" mat-icon-button style="cursor: pointer;" color="warn"><mat-icon>delete</mat-icon></button></td> -->
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="overlay" *ngIf="loading || loading">
    <div class="spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
