<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://www.octaslash.com" target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <!-- <a mat-button routerLink="/documentation/getting-started/introduction">Made by&nbsp;</a> -->
            <span>Made By / OCTASLASH</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a style="font-size: 18px; letter-spacing: 2.5px;" mat-button href="https://www.octaslash.com" target="_blank">////////</a>
        </div>

    </div>

</mat-toolbar>

