<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    group
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Cients
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <div style="display: flex; align-items: center;">
                <button mat-raised-button (click)="openClientAddDialog('Add', 0, '')">
                    ADD
                    <mat-icon style="margin-left: 3px;">add</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="overflow-y: scroll;">
            
            <table class="tableClass">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="dataLoading">
                        <td class="tdClass" colspan="6" style="text-align: center; padding: 15px 0px;">Loading...</td>
                    </tr>
                    <tr *ngIf="failed">
                        <td class="tdClass" colspan="6" style="text-align: center; padding: 15px 0px;">Failed to load</td>
                    </tr>
                    <tr *ngIf="clients == '' && !dataLoading && !failed">
                        <td class="tdClass" colspan="6" style="text-align: center; padding: 15px 0px;">No records found</td>
                    </tr>
                    <tr *ngFor="let client of clients; let i = index">
                        <td class="tdClass">{{ i+1 }}</td>
                        <td class="tdClass">{{ client.organisation_name }}</td>
                        <td class="tdClass">{{ client.email }}</td>
                        <td class="tdClass"><button (click)="openClientAddDialog('Edit', client.id, client)" mat-icon-button style="cursor: pointer;" color="accent"><mat-icon>edit</mat-icon></button></td>
                        <td class="tdClass"><button (click)="deleteClient(client.id, i)" mat-icon-button style="cursor: pointer;" color="warn"><mat-icon>delete</mat-icon></button></td>
                        <td class="tdClass"><a style="cursor: pointer;" [routerLink]="'/view-client/' + client.id"><span color="accent">View Details</span></a></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="overlay" *ngIf="loading || dataLoading">
    <div class="spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
